@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

.custom-text {
  background-image: linear-gradient(
    to right,
    #cc5803,
    #ffb627,
    #ff9505,
    #e2711d,
    #cc5803
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.cursor {
  animation: blink 1.5s ease-in-out infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
